RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677

Linked to:
- https://github.com/RealityRipple/squirrelmail/issues/2
- https://github.com/hannob/squirrelpatches/issues/2

Siding with Hanno in that my intention is not to change SquirrelMail functionality, except for that already provided in some plugins and in parts of the GUI/cosmetic patches. Mostly because I don't have enough free time to start with that. I'm keeping this repo up purely for use of webmail servers I maintain, after debian decided to drop SM from apt.